<!DOCTYPE html>
<html>
<head>
	<th:block th:insert="~{layout/layout :: head}"></th:block>
	<title>INICIO</title>
</head>
<body class="body">
    <header th:replace="~{layout/layout :: header}"></header>
    <div class="container-fluid" style="padding: 0;">
        <!-- Añade la clase 'w-100' para que el carrusel ocupe todo el ancho -->
        <div id="carouselExampleInterval" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <img src="img/carousel-1.jpg" class="d-block w-100" alt="img-1">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img th:src="@{img/carousel-2.jpg}" class="d-block w-100" alt="img-2">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img th:src="@{img/carousel-3.jpeg}" class="d-block w-100" alt="img-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>