<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{layout/layout :: head}"></th:block>
    <title>Formulario de Paciente</title>
</head>
<body>
	<header th:replace="~{layout/layout :: header}"></header>
    <div class="container my-5">
        <h2>Formulario de Paciente</h2>
        <!-- Enlace para volver al listado de pacientes -->
        <a class="btn btn-secondary mb-3" th:href="@{/pacientes/listar}">Volver al Listado de Pacientes</a>
        <!-- Formulario para agregar un nuevo paciente -->
        <form th:action="@{/pacientes/agregar}" th:object="${paciente}" method="post">
            <!-- Campos del formulario -->
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" th:field="*{usuario.nombre}" required/>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" class="form-control" th:field="*{usuario.apellido}" required/>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" class="form-control" th:field="*{usuario.fechaNacimiento}" required/>
            </div>

            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <select id="sexo" class="form-control" th:field="*{usuario.sexo}" required>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" class="form-control" th:field="*{usuario.dni}" required/>
            </div>

            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" class="form-control" th:field="*{usuario.correo}" required/>
            </div>

            <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="password" id="clave" class="form-control" th:field="*{usuario.clave}" required/>
            </div>

            <div class="form-group">
                <label for="role">Rol:</label>
                <input type="text" id="role" class="form-control" th:field="*{usuario.role}" required/>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Paciente</button>
        </form>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>